.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    flex-wrap: wrap;
    height: 100vh; 
}
.button-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.array-bar {
    width: 2px;
    background-color: pink;
    display: inline-block;
    margin: 0 1px;
}