.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    flex-wrap: wrap;
    height: 100vh; 
    overflow-x: auto; /* Horizontal scrolling enabled */
}

.button-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.array-bar {
    width: 2px;
    background-color: pink;
    display: inline-block;
    margin: 0 1px;
}
