.visualizer-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
}

.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    flex-wrap: wrap;
    overflow-x: auto; /* Horizontal scrolling enabled */
    overflow-y: hidden;
    width: 100%; 
}

.button-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.array-bar {
    width: 7px;
    background-color: #317de6; /* Blue */
    display: inline-block;
    margin: 0 1px;
    flex-shrink: 0;
}
/* iPad/tablet */
@media (max-width: 900px) {
    .array-container {
        flex-wrap: nowrap;
    }
    .array-bar {
        width: 3px;
    }
}
/* iPhone/small screens */
@media (max-width: 600px) {
    .array-container {
        flex-wrap: nowrap;
    }
    .array-bar {
        width: 4px;
    }
}